body {
    background-color: #eceada;
}

div.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.contact-container .btn {
    position: relative;
    justify-items: center;
    margin: 50px;
    border-radius: 20px;
    background-color: #233325;;
}

.contacrmeimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}


.indexsty {
    color: #233325;
}

a.indexsty:hover {
    background-color: white;
    width: auto;
}

@media (max-width: 600px) {
     .contacrmeimg {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
        width: 100%;
        height: 100vh;
     }
}