/* New Profile Index page CSS */

* {
  box-sizing: border-box;
}

/* #eceada */
body { 
background-image: url("./evie-s-bSVGnUCk4tk-unsplash.jpg");
background-repeat: no-repeat;
background-size: contain, cover;
/* background-color: white;  */
font-family: 'Righteous', cursive;
color: rgb(10, 1, 6);

}
/* index.css */

/* Heading */

h1#title.display-3.fw-bold {

margin-top: 25%;
}

.icon_buttons {
margin-bottom: 15%;
}
.col-md-6p-lg-5mx-auto-my-5 {
margin-top: 60%;
}
div.h1.fw-bold {

font-family: 'Righteous', cursive;
font-size: 3rem;
position: relative;
animation: mymove 5s infinite;

}
{
margin-top: 50%;

}
div {
/* width: 100px;
height: 50px;
background-color: red;
font-weight: bold; */

}

#title {animation-timing-function: ease-in;}


@keyframes mymove {
from {left: 0px;}
to {left: 300px;}
}

.text-muted {
font-family: 'Righteous', cursive;
}

a.icon-link {
  color: #000;
  text-decoration: none;
}

/* Tech Stack */

h3.techStack {
  margin-left: 10%;
  text-decoration: none;
  margin-bottom: 10%;
  font-size: 15px;
}

/* Social Media links */
.githubbtn {
  margin-left: 41%;
  color:#233325;
}
.linkedinbtn {
  margin-left: 5%;
  color:#233325;
}
.emailbtn {
  margin-left: 5%;
  color:#233325;
}
.headbutton {
  position: relative;
  display: inline-block;
}
.text-container {
  display: inline-block;
}
.text-container:hover {
  background-color: #ddd;
}
/* .navbar {
  background-color: #233325;
} */


/* 
.col {
  display: inline-block;
  height: 60vh;
  width: 400px;
  margin-left: 8%;
}
 */
h1 {
    padding-top: 10%;
    font-size: 3rem;
    margin-left: 10%;
}
.projectFolder {
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 15%;  
}
/* p.card-text {
  font-size: 12px;

}

.card {
  display: inline-block;

}

.row {
margin-left: 13%;
}

div.card {
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 20px;
}

.card-body {
  width: 500px;
  /* height: 50vh; */
/* } */


.card-title {
  height: 100px;

}

.card-text {


}

.card-link {
  color: black;
  text-decoration: none;
} 

/* About Me */

.aboutMe {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 15px;
}

p.lead {
  font-size: 17px;

}

/* Portfolio Project */

/* a:card-link {
  text-decoration: none;
} */



/* END OF CSS */




